body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #0D3220;
}

header {
    position: relative;
    text-align: center;
    color: #ffffff;
}

.header-background img {
    width: 100%;
    height: auto;
}

header .logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #D0A85F; /* Màu vàng từ logo */
    position: relative;
    top: 50px;
}

header p {
    font-size: 1.2em;
    color: #FBF5D6; /* Màu kem từ logo */
    position: relative;
    top: 60px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #FBF5D6;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    background: #FBF5D6; /* Màu trắng kem */
}

section {
    margin-bottom: 20px;
    background: #ffffff; /* Màu trắng */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2em;
    color: #0D3220;
    border-bottom: 2px solid #D0A85F;
    padding-bottom: 10px;
}

article h3 {
    font-size: 1.5em;
    color: #333333;
    margin-top: 0;
}

article img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

footer {
    background: #0D3220;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}
